@import "@/styles/variables.scss";

.repo-mon {
  margin: 2rem auto 0 auto;
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid transparent;
  border-radius: 100px;
  border-image: $golden-theme;
  border-image-slice: 1;
  background-color: transparent;
  color: yellow;
}
