@import "@/styles/variables.scss";

.tab-title {
  font-size: 2.5rem;
}

.tab-des {
  margin-left: 0.1%;
  font-size: 1.5rem;
  color: rgb(126, 126, 126);
}

.line {
  margin: 4rem 0 0 0;
  display: flex;
  justify-content: space-between;

  .att {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 800px;
    font-size: 1.5rem;
  }

  & button {
    display: flex;
    padding: 0 2rem;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: rgb(255, 102, 102);
    color: white;
    box-shadow: 0.5px 2px 5px rgb(158, 158, 158);

    &:hover {
      background-color: rgb(255, 133, 133);
    }

    & span {
      width: 40px;
    }

    & svg {
      margin-left: 1rem;
      width: 30px;
      animation: slide 1.5s infinite;

      @keyframes slide {
        0% {
          margin-left: 0;
          opacity: 1;
          width: 30px;
        }
        100% {
          margin-left: 1.4rem;
          opacity: 0;
          width: 25px;
        }
      }
    }
  }

  .stat-line {
    & img {
      display: inline !important;
    }
    & span {
      width: 100px;
      display: flex;
    }
  }
}
