@import "@/styles/variables.scss";

.footerContainer {
  width: 100%;
  height: 12vh;
  background-color: $second;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include desktop125 {
    height: 14vh;
  }

  & .footerLogo {
    font-size: 1.75em;
    font-family: "SUIT-Bold";
  }
}
