@import "@/styles/variables.scss";

.component {
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  padding: 0 5%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  background-color: white;
  position: fixed;
  top: 0;
  box-shadow: 1px 9px 15px -2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 9px 15px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 9px 15px -2px rgba(0, 0, 0, 0.1);

  .item {
    font-size: 22px;
    margin-left: 2rem;
    color: $highlight;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: rgb(13, 111, 224);
    }
  }

  .left {
    display: flex;
    align-items: center;

    .logo-div {
      width: 75px;
      height: auto;

      .logo {
        cursor: pointer;
      }
    }
  }
}
