@import '@/styles/variables.scss';

#cardContainer {
  height: 200px;

  #repoTitle {
    // @include desktop125 {
    //   font-size: 1.5em !important;
    // }
  }

  #repoDesc {
    @include desktop125 {
      font-size: 0.9em;
    }
  }
  #repoBtn {
    // @include desktop125 {
    //   width: 80%;
    //   height: 2.5em;
    // }
    &:hover {
      background-color: rgb(65, 119, 201) !important;
    }
  }
}

.overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.overflowTwoLine {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 원하는 줄 수 */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
