@import "@/styles/variables.scss";

#cardContainer {
  @include desktop125 {
    width: 100%;
    height: 90%;
  }
  #repoTitle {
    @include desktop125 {
      font-size: 1.5em !important;
    }
  }

  #repoDesc {
    @include desktop125 {
      font-size: 0.9em !important;
    }
  }
  #repoBtn {
    @include desktop125 {
      width: 80% !important;
      height: 2.5em !important;
    }
    &:hover {
      background-color: rgb(65, 119, 201) !important;
    }
  }
}
