@import "@/styles/variables.scss";

.pageContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  & .headerTitle {
    font-size: 2em;
    margin-block: 1em;
  }
  & .gameWrapper {
    width: 80%;
    height: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
    opacity: 0;
    & .gameBox {
      width: 80%;
      height: 35em;
      border: 10px double black;
      z-index: 1;
      transition: all 1s ease-in-out;
    }
    & .gameLogBox {
      width: 80%;
      height: 15em;
      border: 1px solid black;
      padding: 1em;
    }
  }
}
