@import "@/styles/variables.scss";

.pageContainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  & .selectBox {
    width: 100%;
    height: 95vh;
    background-color: #000000c2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .monChar {
      width: 30vw;
      height: 30vw;
      // background-color: transparent;
      border-radius: 50%;
      margin-inline: 1em;
      transition: all 0.2 s ease-in-out;
      &:hover {
        background-color: rgba(255, 252, 241, 0.521);
      }
    }
  }
  & .settingBox {
    width: 90%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: space-between;
    & .conventionBox {
      width: 70%;
    }
    & .diceContainer {
      width: 30%;
      height: 65em;
    }
  }
}

.diceContainer {
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  background: linear-gradient(
    248deg,
    #bad2da,
    #b1d1e2,
    #adc7df,
    #b5bde0,
    #baa4d4
  );
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 5px solid rgb(255, 255, 255);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  & .diceTitle {
    width: 100%;
    height: 5%;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    margin-top: 10%;
    color: white;
    text-shadow: 0 0 10px #898bff;
    margin-bottom: 5%;
  }
  & .diceBox {
    width: 100%;
    height: 30%;
    position: relative;
    & .dice {
      width: auto;
      height: auto;
      position: absolute;
      bottom: -7em;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9;
      transition: transform 0.2s ease-in-out;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    & .diceShadow {
      position: absolute;
      width: 5em;
      height: 2em;
      background-color: rgba(0, 0, 0, 0.781);
      border-radius: 50%;
      filter: blur(0.4em);
      bottom: -2.5em;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.2s ease-in-out;
    }
  }
  & .statusBox {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
  }
}

.repoTitle {
  font-weight: 700;
  margin-bottom: 2em;
  font-size: 4em;
  color: #fdfdfe;
  transition: all 1s ease-in-out;
  animation: blink 3s ease-in-out infinite;
}

@keyframes blink {
  0% {
    // text-shadow: none;
    opacity: 0;
  }
  50% {
    // text-shadow: 0px 0px 5px #81b7cc, 0px 0px 10px #83acc7, 0px 0px 10px #7ba3c9,
    // 0px 0px 20px #81b6ce;
    opacity: 1;
  }
  100% {
    // text-shadow: none;
    opacity: 0;
  }
}

#tableText {
  color: white;
  text-shadow: 0 0 5px #191930;
  font-size: large;
  font-weight: 700;
}

.shake {
  animation: shake 0.5s ease-in-out;
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
