@import "@/styles/variables.scss";

.pageContainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  & .selectBox {
    width: 100%;
    height: 50vh;
    background-color: #00000071;
    display: flex;
    justify-content: center;
    align-items: center;
    & .monChar {
      width: 25em;
      height: 25em;
      // background-color: transparent;
      background-color: rgba(255, 252, 241, 0.521);
      border-radius: 50%;
      margin-inline: 1em;
      transition: all 0.5s ease-in-out;
      &:hover {
      }
    }
  }
  & .settingBox {
    width: 80%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    & .conventionBox {
      width: 70%;
    }
    & .diceContainer {
      width: 30%;
      height: 60em;
    }
  }
}

.diceContainer {
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  background: linear-gradient(
    248deg,
    #d6f6ff,
    #c2ecff,
    #badeff,
    #c2cdff,
    #d7b9ff
  );
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 5px solid rgb(255, 255, 255);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  & .diceTitle {
    width: 100%;
    height: 10%;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    margin-top: 10%;
    color: white;
    text-shadow: 0 0 10px #898bff;
    margin-bottom: 5%;
  }
  & .diceBox {
    width: 100%;
    height: 30%;
    position: relative;
    & .dice {
      width: auto;
      height: auto;
      position: absolute;
      bottom: -7em;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9;
      transition: transform 0.2s ease-in-out;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    & .diceShadow {
      position: absolute;
      width: 5em;
      height: 2em;
      background-color: rgba(0, 0, 0, 0.781);
      border-radius: 50%;
      filter: blur(0.4em);
      bottom: -2.5em;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.2s ease-in-out;
    }
  }
  & .statusBox {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
  }
}

#tableText {
  color: white;
  text-shadow: 0 0 5px #191930;
  font-size: large;
  font-weight: 700;
}

.shake {
  animation: shake 0.5s ease-in-out;
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
