@import "@/styles/variables.scss";

.container {
  width: 100%;

  .banner {
    width: 100%;
    height: calc(937px - 90px);
    padding: 0 10%;
    display: flex;
    background: rgb(90, 167, 255);
    background: linear-gradient(
      128deg,
      rgba(90, 167, 255, 1) 0%,
      rgba(122, 155, 241, 1) 73%
    );

    .left {
      width: 40%;
      color: white;
      font-weight: 600;
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
      font-family: "SUIT-Thin";

      .title {
        margin: 30% 0 0 0;
        font-size: 6rem;
      }

      .comment {
        font-size: 2rem;
      }
    }

    .right {
      width: 60%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .service {
    .service-title {
      margin: 7% 0 4% 0;
      text-align: center;
      font-size: 2.5rem;

      & span {
        color: $second;
      }
    }

    .service-content {
      width: 80%;
      height: 570px;
      margin: 0 auto 10rem auto;
      display: flex;
      justify-content: center;

      & .img-div {
        position: relative;
        width: 600px;
        max-height: 570px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 2px 2px 10px rgb(215, 215, 215);

        &:hover {
          & .des {
            display: block;
          }
        }

        & span {
          position: absolute;
          top: 1.5rem;
          left: 2rem;
          font-size: 2rem;
          font-weight: bold;
        }

        & img:hover {
          transform: scale(1.03);
        }

        .fp {
          width: 600px;
          height: 570px;
          transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
        }

        .sp {
          width: 600px;
          height: 275px;
          transition: opacity 1s ease-in-out, transform 0.3s ease-in-out;
        }

        .tp {
          width: 600px;
          height: 275px;
          transition: opacity 1.5s ease-in-out, transform 0.3s ease-in-out;
        }

        & p {
          font-family: "SUIT-Bold";
          display: none;
          background-color: rgba(90, 167, 255, 0.7);
          position: absolute;
          width: 100%;
          bottom: 0;
          padding: 2.5rem 1rem;
          text-align: center;
          font-size: 21px;
          color: white;
          animation: fade-in 0.4s ease-in-out;

          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
        }
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fp-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
