@import "@/styles/variables.scss";

.container {
  width: 100%;
  min-height: 100vh;

  .banner {
    height: 100vh;
    background: linear-gradient(
        95.98deg,
        #78acde 9.17%,
        rgba(120, 172, 222, 0) 89.35%
      ),
      linear-gradient(180deg, #78acde 0%, rgba(120, 172, 222, 0) 100%);
  }
}
