@import "@/styles/colors.scss";

.pageContainer {
  width: 85vw;
  height: 100vh;
  margin: 0 auto;
  background-color: white;

  .info {
    display: flex;
    height: 700px;

    .repo-mon-div {
      width: 45%;
      height: 100%;

      .repo-mon {
        width: 400px;
        height: 400px;
      }
    }
  }
}

.info {
  outline: 1px solid red;

  .repo-mon-div {
    outline: 1px solid orange;
  }
}
