@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
}

$primary: rgba(161, 205, 255, 1);
$second: rgba(142, 167, 233, 1);
$highlight: rgba(90, 167, 255, 1);
$sub: rgba(109, 130, 250, 1);

@mixin under370 {
  @media (max-width: 370px) {
    @content;
  }
}
