// inputField 스타일
// @include inputFields 로 사용

@mixin inputFields {
  box-shadow: inset #abacaf 0 0 0 2px;
  border: 0;
  background: rgba(0, 0, 0, 0);
  appearance: none;
  width: 100%;
  position: relative;
  border-radius: 3px;
  padding: 9px 12px;
  line-height: 1.4;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  transition: all 0.2s ease;
  &:hover {
    box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
  }
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
  }
}

// 버튼 UI 디자인

@mixin buttonAccept {
  border-color: #fff;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
}

@mixin buttonDeny {
  border-color: #fff;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
}
