@font-face {
  font-family: "SUIT-Thin";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Thin.woff2")
    format("woff2");
}

@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "SUIT-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2")
    format("woff2");
}

$primary: rgba(161, 205, 255, 1);
$second: rgba(142, 167, 233, 1);
$highlight: rgba(90, 167, 255, 1);
$sub: rgba(152, 157, 250, 1);

@mixin desktop {
  @media (min-width: 1160px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1160px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}
