@import "@/styles/variables.scss";

.pageContainer {
  width: 100%;
  height: 160vh;
  & .bannerBack {
    width: 100%;
    height: 35vh;
    background-color: $primary;
    display: flex;
    justify-content: flex-end;
  }
  & .bodyContainer {
    width: 100%;
    height: 120vh;
    display: flex;
    position: relative;
    & .sideProfile {
      position: absolute;
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      top: -15%;
      left: 4%;
      & .charaterDiv {
        width: 18em;
        height: 18em;
        background-color: #141414be;
        background-size: contain;
        margin-bottom: 2em;
      }
      & .chracter {
        width: 18em;
        height: 18em;
        border-radius: 50%;
        background-color: #141414;
        background-size: contain;
        margin-bottom: 2em;
        @include desktop125 {
          width: 14em;
          height: 14em;
        }
      }
    }
    & .bodyList {
      position: absolute;
      right: 2%;
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      & .listTitle {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: start;
        p {
          font-size: 2em;
        }
      }
      & .listCards {
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: start;
      }

      & .paginations {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.boxTitle {
  font-size: $boxTitle;
  font-family: SUIT-Regular;
}

.boxContent {
  font-size: $boxContent;
  font-family: SUIT-Thin;
  color: #575757;
  font-weight: 600;
}

.visitLink {
  font-size: 1.8em;
}

.arrow {
  transition: all 0.7s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: rotate(150deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#repoListTitle {
  @include desktop125 {
    font-size: 1.2em !important;
  }
}

#reposubtitle {
  @include desktop125 {
    font-size: 0.9em !important;
  }
}
