@import "@/styles/variables.scss";

.tab-title {
  font-size: 2.5rem;
}

.tab-des {
  margin-left: 0.1%;
  font-size: 1.5rem;
  color: rgb(126, 126, 126);
}

.top {
  margin: 4rem 0 0 0;
  display: flex;
  justify-content: space-between;

  .att {
    margin: 0 0 0 -5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 800px;
    font-size: 1.75rem;

    & span {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  & button {
    display: flex;
    margin: 0 2rem 0 0;
    padding: 0 2rem;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: rgb(255, 102, 102);
    color: white;
    box-shadow: 0.5px 2px 5px rgb(158, 158, 158);

    &:hover {
      background-color: rgb(255, 133, 133);
    }

    & span {
      width: 40px;
    }

    & svg {
      margin-left: 1rem;
      width: 40px;
      animation: slide 1.5s infinite;

      @keyframes slide {
        0% {
          margin-left: 0;
          opacity: 1;
          width: 40px;
        }
        20% {
          opacity: 1;
          width: 40px;
        }
        100% {
          margin-left: 1.4rem;
          opacity: 0;
          width: 35px;
        }
      }
    }
  }
}

.bottom {
  display: flex;

  .left {
    width: 40%;

    .left-title {
      margin-top: 6rem;
      font-size: 1.75rem;

      & > span {
        font-size: 1.25rem;
        margin: 0 0 0 1rem;
      }
    }
  }

  .stat-line {
    width: 70%;

    & p {
      position: relative;
      display: flex;
      align-items: center;
      margin: 2.5rem 0 0 0;
      font-size: 1.25rem;

      .icon {
        width: 30px;
        margin-right: 0.5rem;
      }

      & span {
        margin-left: 0.4rem;
        font-weight: bold;
        color: rgb(109, 109, 109);
      }

      & button {
        position: absolute;
        right: 0;
        justify-content: center;
        align-items: center;
        margin-left: 0.7rem;
        width: 27px;
        height: 27px;
        background-color: grey;
        color: white;
        border-radius: 100%;
        font-size: 16px;

        &:hover {
          cursor: pointer;
          background-color: rgb(180, 180, 180);
        }
      }
    }

    .btn-div {
      display: flex;
      align-items: center;
      font-size: 1.25rem;

      & button {
        margin: 0 1rem 0 0;
        padding: 0.2rem 1rem;
        border-radius: 5px;
        background-color: $primary;
        color: white;

        &:hover {
          background-color: $highlight;
        }
      }
    }
  }

  .record-item {
    width: 800px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 0 0;
    padding: 0 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 7px rgb(220, 220, 220);
    font-size: 18px;

    & > div {
      display: flex;
      align-items: center;

      & img {
        border-radius: 100%;
        width: 50px;
      }

      .record-refo-info {
        width: 160px;
        text-align: center;

        .repomon-nickname {
          font-weight: bold;
        }

        .mine {
          color: rgb(60, 191, 116);
        }

        .not-mine {
          &:hover {
            cursor: pointer;
            color: rgb(155, 155, 155);
          }
        }
      }

      .attack {
        margin: 0 0 0 0.5rem;
      }

      .defense {
        margin: 0 0.5rem 0 0;
      }
    }

    .result-div {
      flex-direction: column;

      & p {
        font-weight: bold;
        text-align: center;
      }

      .win {
        color: rgb(64, 166, 255);
      }

      .lose {
        color: rgb(255, 94, 94);
      }
    }

    .sword {
      width: 50px;
      height: 50px;
    }
  }

  .win-record-item {
    background-color: rgb(247, 251, 255);
  }

  .lose-record-item {
    background-color: rgb(255, 247, 247);
  }
}
