@import "@/styles/variables.scss";

.tab-title {
  font-size: 2.5rem;
}

.tab-des {
  margin-left: 0.1%;
  font-size: 1.5rem;
  color: rgb(126, 126, 126);
}

.left {
  width: 30%;
}

.right {
  width: 70%;
}
