@import "@/styles/variables.scss";

.tab-title {
  font-size: 2rem;

  @include desktop125 {
    font-size: 1.75rem;
  }
}

.tab-des {
  margin-left: 0.1%;
  font-size: 1.5rem;
  color: rgb(126, 126, 126);

  @include desktop125 {
    font-size: 1.25rem;
  }
}

.edit-btn {
  width: 62%;
  display: flex;
  justify-content: flex-end;
  margin: 4rem 0.2rem 0.2rem 0.2rem;
  font-size: 1.125rem;

  &:hover {
    color: $sub;
  }
}

.left {
  width: 65%;

  .con-div {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 0 1.5rem 0;
    padding: 5px 10px 5px 210px;
    background-color: rgba(161, 205, 255, 0.2);
    box-shadow: 1px 2px 5px rgb(243, 243, 243);
    border-radius: 5px;
    color: black;

    .prefix {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 35px;
      top: -5px;
      left: -0.2%;
      border-radius: 5px;
      border: 2px solid rgba(161, 205, 255, 0.4);
      background-color: white;
      font-weight: bold;
    }
  }
}

.right {
  margin-left: 10%;
  width: 27%;
}

.no-convention {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .comment {
    font-size: 1.5rem;
  }
}
